/* IMPOSTAZIONI GENERALI */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

h2,
p {
    margin: 5px 0px;
}

.container,
.container-eat,
.history-container,
.container-vine {
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* NAVBAR */
.navbar {
    width: 80%;
    margin: 0px auto;
}

.nav-list {
    display: flex;
    top: 0;
    position: fixed;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
    background-color: white;
    z-index: 2;
    font-size: 18px;
}

.nav-list a::after {
    width: 0px;
    height: 2px;
    display: block;
    background-color: #292929;
    content: '';
}

.nav-list a:hover::after {
    width: 100%;
    transition: 0.5s;
}

.nav-item a {
    color: rgb(0, 0, 0, 0.6);
}

.nav-item a:hover {
    color: rgb(0, 0, 0, 0.8);
    transition: 0.5s;
}


/* HEADER */
.img-sfondo {
    margin-top: 20px;
    background-image: url('/img/3.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    position: relative;
}

.img-logo {
    margin: 0px auto;
    width: 260px;
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
}

/* MAIN */

/* SECTION EAT */
.eat {
    width: 100%;
    background: url('/img/stefano.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.eat-second {
    margin-top: 20px;
    background-image: url('/img/food-5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eat-info {
    height: max-content;
    width: 30%;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
}

/* SECTION VINE */
.vine-second {
    width: 100%;
    background-image: url('/img/vino-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    order: 1;
}

.vine {
    margin-top: 20px;
    width: 100%;
    background-image: url('./img/botti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    order: 2;
}

.vine-info {
    background-color: rgb(255, 255, 255, 0.8);
    height: max-content;
    width: 30%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

/* SECTION HISTORY */
.history-container {
    width: 60%;
    margin: 0px auto;
    margin-top: 20px;
    background-image: url('/img/marmo.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    background-attachment: fixed;
    position: relative;
}

.marco {
    background-image: url('/img/marco-2.png');
    background-size: cover;
    width: 240px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.logo {
    width: 170px;
    position: absolute;
    right: 20px;
}

.stile-1 {
    position: absolute;
    bottom: -30%;
    right: -20px;
    width: 80px;
}

/* GALLERY */
.gallery_img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    margin-right: 10px;
}

.gallery-group {
    display: flex;
    overflow-x: auto;
}

/* FOOTER */
.container hr{
    width: 80%;
    margin: 0px auto;
    color: #292929;
}
.footer-container{
    padding: 10px;
    text-align: center;
    color: #292929;
}

#btn{
    position: fixed;
    bottom: 100px;
    right: 2px;
    color: #292929;
    font-size: 25px;
    cursor: pointer;
}


/* MEDIA QUERY */
@media screen and (min-width:768px) {
    .nav-list {
        justify-content: space-evenly;
        font-size: 20px;
    }

    .img-sfondo {
        height: 400px;
    }

    .img-logo {
        width: 450px;
        top: 28%;
    }

    .container-eat {
        justify-content: space-between;
    }

    .eat {
        width: 49%;
        height: 500px;
    }

    .eat-second {
        width: 49%;
        height: 500px;
        margin-top: 0px;
        background-position: none;
        background-attachment: fixed;
    }

    .eat-info {
        height: 15%;
    }

    .container-vine {
        justify-content: space-between;
    }

    .vine {
        width: 49%;
        margin-top: 0px;
        height: 500px;
        order: 1;
        background-position: top;
    }

    .vine-info {
        height:15%;
    }

    .vine-second {
        width: 49%;
        height: 500px;
        order: 2;
    }

    .history-container {
        height: 500px;
        width: 40%;
    }

    .marco {
        width: 390px;
        height: 500px;
    }

    .logo {
        width: 300px;
        position: absolute;
        right: 5px;
        left: auto;
    }

    .stile-1 {
        position: absolute;
        bottom: -30%;
        right: -50px;
        width: 150px;
    }

    .gallery_img {
        width: 290px;
        height: 290px;
    }


    .container hr{
        width: 40%;
        margin: 0px auto;
    }

    #btn{
        right: 50px;
        font-size: 30px;
    }
}